body {
  margin: 0;
}
h1, h2, h3, p {
  margin: 0px;
}
img {
  max-width: 100%;
  display: block;
}
button, input {
  font-family: inherit;
  border: none;
  outline: none;
}
ul {
  list-style: none;
}